[submodule "rust/rustlings"]
	path = program_lang/rust/rustlings
	url = git@github.com:rust-lang/rustlings.git
[submodule "rust/teach-rs"]
	path = program_lang/rust/teach-rs
	url = git@github.com:tweedegolf/teach-rs.git
[submodule "ml/pytorch/deep_learning"]
	path = ml/pytorch/deep_learning
	url = git@github.com:mrdbourke/pytorch-deep-learning.git
