[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
jupyter = "*"
pandas = "*"
pyarrow = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
opencv-python = "*"
shapely = "*"
pillow = "*"
svgpathtools = "*"
matplotlib = "*"
waifu2x = "*"
replicate = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
